Source: ros-jazzy-go2-description
Section: misc
Priority: optional
Maintainer: kaylor <kaylor.chen@qq.com>
Build-Depends: debhelper (>= 12.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>
Homepage:
Standards-Version: 3.9.2

Package: ros-jazzy-go2-description
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-joint-state-publisher, ros-jazzy-xacro, ros-jazzy-robot-state-publisher
Description: Unitree Go2 quadruped robot URDF description package (with Odin1 mount) for ROS 2 Jazzy
